#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
}

button:hover {
  animation-name: button-hover;
  animation-duration: 1s;
}

@keyframes button-hover {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}
