* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 11rem;
}

.header, .footer {
  grid-column: 1 / -1;
}

.menu {
  display: grid;
  align-items: center;
}

.menu ul,
.menu li {
  font-size: 16px;
}
.menu ul, .nav ul {
  display: grid;
  grid-auto-flow: column; /* put li in a row */
  align-items: center;    /* vertical alignment */
  gap: 20px;
}

/* remove default UL + LI styling */
.menu ul,
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* remove link styling inside menu/nav */
.menu a,
.nav a {
  text-decoration: none;
  color: inherit;
  background: none;
}

.sidebar {
  background-color: #C50208;
  display: grid;
  grid-area: 2 / 1 / 4 / 2;
  gap: 50px;
}

.sidebar div {
  display: grid;
  align-items: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.card {
  height: 200px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}